body {
  font-family: "Nunito", sans-serif;
  background-color: #022b3a;
}

.blurb h2 {
  color: #e1e5f2;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #ffffff;
  font-weight: 100;
  font-size: 1.12rem;
  line-height: 2;
  text-align: left;
}

.card {
  color: #022b3a;
}
.content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.nav-link:hover {
  background-color: #1f7a8c;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 150;
}

#mainNavbar .nav-link {
  color: #e1e5f2;
}

#mainNavbar .nav-link:hover {
  color: #bfdbf7;
}

#mainNavbar .navbar-brand {
  color: rgb(215, 157, 8);
  font-size: 1.5rem;
}

#headingGroup {
  max-width: 50%;
  height: 100vh;
  margin-left: 5rem;
  margin-top: 6rem;
}
#headingGroup h1 {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 5rem;
}

#pentagon-img {
  max-width: 60%;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  object-fit: cover;
  margin-left: 6rem;
  opacity: 70%;
}

.navbar.scrolled {
  background: #1f7a8c;
  transition: background 500ms;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #1f7a8c;
  text-decoration: underline;
  transition: 4ms;
}

.text-start:hover .junior {
  display: none;
}

.footer {
  text-align: center;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }

  #mainNavbar {
    display: none;
  }
}
